<div class="league-application">
  <div class="league-application-prompt">
    <label>Height</label>
    <input
      name="data.background.height" 
      type="text"
      value="{{data.background.height}}"
      placeholder=""
    />
  </div>

  <div class="league-application-prompt">
    <label>Weight</label>
    <input
      name="data.background.weight" 
      type="text"
      value="{{data.background.weight}}"
      placeholder=""
    />
  </div>

  <div class="league-application-prompt">
    <label>Description</label>
    <div class="league-application-editor">
      {{editor content=data.background.description target="data.background.description" button=true owner=owner editable=editable}}
    </div>
  </div>

  <div class="league-application-prompt">
    <label>Notes</label>
    <div class="league-application-editor">
      {{editor content=data.background.notes target="data.background.notes" button=true owner=owner editable=editable}}
    </div>
  </div>
</div>