<div class="options-list-header">
  General
</div>
<div class="form-group">
  <label>HP Maximum Bonus</label>
  <div class="form-fields">
    <input
    name="data.stats.hp.hpMaxBonus" 
    type="text"
    value="{{data.stats.hp.hpMaxBonus}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="options-list-header">
  Stat Modifiers
</div>
{{#each data.stats as |stat id|}}
<div class="form-group">
  <label>{{stat.fullName}} Modifier Bonus</label>
  <div class="form-fields">
    <input
    name="data.stats.{{id}}.bonus" 
    type="text"
    value="{{stat.bonus}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>
{{/each}}

<div class="options-list-header">
  Capability Bonuses
</div>

<div class="form-group">
  <label>Overland Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.overland" 
    type="text"
    value="{{data.capabilityBonuses.overland}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="form-group">
  <label>Swim Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.swim" 
    type="text"
    value="{{data.capabilityBonuses.swim}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="form-group">
  <label>Power Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.power" 
    type="text"
    value="{{data.capabilityBonuses.power}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="form-group">
  <label>Throwing Range Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.throwingRange" 
    type="text"
    value="{{data.capabilityBonuses.throwingRange}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="form-group">
  <label>Long Jump Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.longJump" 
    type="text"
    value="{{data.capabilityBonuses.longJump}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>

<div class="form-group">
  <label>High Jump Bonus</label>
  <div class="form-fields">
    <input
    name="data.capabilityBonuses.highJump" 
    type="text"
    value="{{data.capabilityBonuses.highJump}}"
    data-dtype="Number"
    placeholder="0"
  />
  </div>
</div>