
<div class="character-details-section">
  <div class="header-details">
    <ul class="header-detail-list">
      <li class="header-detail-item">
        <label>Age</label>
        <input
          name="data.background.age" 
          type="text"
          value="{{data.background.age}}"
          data-dtype="Number"
          placeholder="18"
        />
      </li>
      <li class="header-detail-item">
        <label>Gender</label>
        <input
          name="data.background.gender" 
          type="text"
          value="{{data.background.gender}}"
          placeholder="?"
        />
      </li>
      <li class="header-detail-item">
        <label>Level</label>
        <input
          name="data.level" 
          type="text"
          value="{{data.level}}"
          data-dtype="Number"
          placeholder="?"
        />
      </li>
      <li class="header-detail-item">
        <label>Badges</label>
        <input
          name="data.details.badges" 
          type="text"
          value="{{data.details.badges}}"
          data-dtype="Number"
          placeholder="?"
        />
      </li>
      <li class="header-detail-item">
        <label>Caught</label>
        <input
          name="data.details.caughtPokmeon" 
          type="text"
          value="{{data.details.caughtPokmeon}}"
          data-dtype="Number"
          placeholder="0"
        />
      </li>
      <li class="header-detail-item">
        <label>Experience</label>
        <input
          name="data.details.experience" 
          type="text"
          value="{{data.details.experience}}"
          data-dtype="Number"
          placeholder="0"
        />
      </li>
    </ul>
  </div>
</div>

<ul class="skill-list">
  <li class="skill-list-column">
    <div class="skill-list-item">
      <div class="skill-list-stat-header">
        Body
      </div>
      {{#each data.skills.body.items as |skillData skill|}}
      <div class="skill-row skill-rollable" data-skill="{{skill}}">
        <a class="skill-name rollable">{{skillName skill}}</a>
        <div class="skill-roll">
          <input
            name="data.skills.body.items.{{skill}}.rank" 
            class="skill-ranks"
            type="text"
            value="{{skillData.rank}}"
            data-dtype="Number"
            placeholder="0"
          />
          <div class="skill-roll-text">d6&nbsp;+</div>
          <input
            name="data.skills.body.items.{{skill}}.bonus" 
            type="text"
            value="{{skillData.bonus}}"
            data-dtype="Number"
            placeholder="0"
          />
        </div>
      </div>
      {{/each}}
    </div>
    <div class="skill-list-item">
      <div class="skill-list-stat-header">
        Spirit
      </div>
      {{#each data.skills.spirit.items as |skillData skill|}}
      <div class="skill-row skill-rollable" data-skill="{{skill}}">
        <a class="skill-name rollable ">{{skillName skill}}</a>
        <div class="skill-roll">
          <input
            name="data.skills.spirit.items.{{skill}}.rank" 
            class="skill-ranks"
            type="text"
            value="{{skillData.rank}}"
            data-dtype="Number"
            placeholder="0"
          />
          <div class="skill-roll-text">d6&nbsp;+</div>
          <input
            name="data.skills.spirit.items.{{skill}}.bonus" 
            type="text"
            value="{{skillData.bonus}}"
            data-dtype="Number"
            placeholder="0"
          />
        </div>
      </div>
      {{/each}}
    </div>
  </li>
  <li class="skill-list-column">
    <div class="skill-list-item">
      <div class="skill-list-stat-header">
        Mind
      </div>
      {{#each data.skills.mind.items as |skillData skill|}}
      <div class="skill-row skill-rollable" data-skill="{{skill}}">
        <a class="skill-name rollable">{{skillName skill}}</a>
        <div class="skill-roll">
          <input
            name="data.skills.mind.items.{{skill}}.rank" 
            class="skill-ranks"
            type="text"
            value="{{skillData.rank}}"
            data-dtype="Number"
            placeholder="0"
          />
          <div class="skill-roll-text">d6&nbsp;+</div>
          <input
            name="data.skills.mind.items.{{skill}}.bonus" 
            type="text"
            value="{{skillData.bonus}}"
            data-dtype="Number"
            placeholder="0"
          />
        </div>
      </div>
      {{/each}}
    </div>
  </li>
</ul>