<div class='pokemon-move'>
  <div class='pokemon-move-name'>{{speaker.alias}} uses {{name}}!</div>
  <div class='pokemon-move-data'>
    <div class='pokemon-move-accuracy'><span>{{ac}}</span></div>
    <div class='pokemon-move-range'><span>{{range}}</span></div>
    <div class='pokemon-move-frequency'><span>{{frequency}}</span></div>
    {{#if hasValidAttackRoll}}
    <div class='pokemon-move-damage-base'>
      <span class="stream-hidden">Damage base: </span>
      <span>{{damageBase}}</span>
    </div>
    {{/if}}
  </div>
  <div class="pokemon-move-rolls">
    {{#if hasAccuracyCheck}}
    <div class='pokemon-move-ac'>
      Rolled [[{{accuracyCheck}}]] to hit
      <span class="stream-hidden">(AC: {{ac}})</span>
    </div>
    {{/if}}
    {{#if hasValidAttackRoll}}
    {{#if isCrit}}
    <div class='pokemon-move-crit'>A critical hit!</div>
    {{/if}}
    <div class='pokemon-move-damage'>
      Deals
      {{#if shouldRollDamage}}
      [[{{#if isCrit}} {{critDamage}} {{else}} {{damage}} {{/if}} + ({{relevantStatValue}} * {{combatStageMultiplier}} + {{relevantStatBonus}}) + {{addedDamage}}]]
      {{else}}
      [[/r {{damage}}]]
      {{/if}}
      {{attackTypeName}}  <span class="inline-type {{type}}">{{moveTypeName}}</span> damage!
    </div>
    {{/if}}
  </div>
  <div class='pokemon-move-effects'>
    {{effect}}
  </div>
</div>